.App {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 16pt;
  color: darkblue;
}

.header img {
  display: block;
  margin: auto;
}

.scores {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding: 20px 0px;
}

.scores h2 {
  margin: 0px;
}

.scores p {
  margin: 0px;
  font-weight: bold;
  font-size: 16pt;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-container img {
  width: 20%;
  margin: 1%;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
}
